/***** Sign in page *****/
.sign-in-body{
    width: auto;
    height: 844px;
    background-color: rgb(234, 144, 48);
    position: relative;
}

.sign-in-title{
    border: none;
    font-size: 30pt;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    height: auto;
}
.img-div{
    height: 150pt;
}
.sign-in-img{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}
.account{
    margin-top: 10%;
    height: 100pt;
    text-align: center;
}
.username{
    width: 70%;
    height: 30%;
    font-size: 15pt;
    border-radius: 10pt;
    text-indent: 2%;
}
.password{
    margin-top: 5%;
    width: 70%;
    height: 30%;
    font-size: 15pt;
    border-radius: 10pt;
    text-indent: 2%;
}
.forget-signUp{
    height: 50pt;
    width: 70%;
    text-align: right;
    margin-left: 15%;
    margin-top: -10pt;
    color: white;
}
.sign-Btn{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    width: 30%;
    height: 70%;
    text-align: center;
    font-size: large;
    border-radius: 10pt;
    color: white;
    background-color: rgb(147, 51, 37);
}
.sign-Btn:active{
    background-color: rgb(100, 40, 40);
}
.policy{
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    font-size: 11pt;
    text-align: center;
}

.body{
    height: 784px;
    width: 390px;
    background: rgb(237, 247, 213);
}

.home-header{
    background-color: rgb(196, 242, 227);
    height: 30pt;
    text-align: left;
    vertical-align: middle;
}
.home-header a{
    vertical-align: middle;
    margin-left: 10%;
    font-size: 15pt;
}
.section{
    width: 90%;
    height: 330pt;
    background-color: white;
    border-radius: 7%;
    margin-left: 5%;
    margin-top: 5%;
}
.section-img{
    width: 100%;
    border-radius: 7%;
}
.section-desc{
    width: 80%;
    margin-left: 7%;
}
.section-creater img{
    width: 13%;
    margin-left: 6%;
    vertical-align: middle;
}
.section-creater a{
    margin-left: 7pt;
}
.nav-bar{
    height: 60px;
    border-top: 1pt;
    background-color: white;
}
.search-img, .home-img, .share-img, .shop-img, .me-img{
    width: 13%;
    margin-left: 17pt;
}

.search-header{
    background-color: rgb(196, 242, 227);
    height: 60pt;
    text-align: left;
    vertical-align: middle;
}
.search-input{
    font-size: 16pt;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 10%;
    text-indent: 3%;
}
.search-title{
    text-align: center;
    height: 40pt;
    color: rgb(255, 166, 51);
}
.meet{
    height: 100pt;
    color: rgb(156, 162, 149);
} p{
    margin-left: 3%;
}
.test{
    width: 20%;
    height: 30%;
    margin-left: 3%;
    border-color: rgb(246, 186, 91);
    border-radius: 10%;
    background-color: white;
}
.vegetables{
    height: 100pt;
    color: rgb(156, 162, 149);
}
.other{
    height: 100pt;
    color: rgb(156, 162, 149);
}

.me-like{
    float: right;
    margin-top: 10%;
    margin-right: 10%;
}
.me-head{
    width: 40%;
}
.me-name{
    border-bottom: solid black;
    float: right;
    width: 30%;
    margin-right: 20%;
    margin-top: 10%;
}
.create-img{
    width: 45%;
    margin-left: 3%;
    margin-top: 5%;
    border-radius: 10%;
}