/***** Sign in page *****/
.sign-in-body{
    width: auto;
    height: 844px;
    background-color: rgb(234, 144, 48);
    position: relative;
}

.sign-in-title{
    border: none;
    font-size: 30pt;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    height: auto;
}
.img-div{
    height: 150pt;
}
.sign-in-img{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}
.account{
    margin-top: 10%;
    height: 100pt;
    text-align: center;
}
.username{
    width: 70%;
    height: 30%;
    font-size: 15pt;
    border-radius: 10pt;
    text-indent: 2%;
}
.password{
    margin-top: 5%;
    width: 70%;
    height: 30%;
    font-size: 15pt;
    border-radius: 10pt;
    text-indent: 2%;
}
.forget-signUp{
    height: 50pt;
    width: 70%;
    text-align: right;
    margin-left: 15%;
    margin-top: -10pt;
    color: white;
}
.sign-Btn{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    width: 30%;
    height: 70%;
    text-align: center;
    font-size: large;
    border-radius: 10pt;
    color: white;
    background-color: rgb(147, 51, 37);
}
.sign-Btn:active{
    background-color: rgb(100, 40, 40);
}
.policy{
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    font-size: 11pt;
    text-align: center;
}

.body{
    height: 755px;
    width: 390px;
    background: rgb(237, 247, 213);
}

.home-header{
    background-color: rgb(196, 242, 227);
    height: 30pt;
    text-align: left;
    vertical-align: middle;
}
.home-header a{
    vertical-align: middle;
    margin-left: 10%;
    font-size: 15pt;
}
.section{
    width: 90%;
    height: 330pt;
    background-color: white;
    border-radius: 7%;
    margin-left: 5%;
    margin-top: 5%;
}
.section-img{
    width: 100%;
    border-radius: 7%;
}
.section-desc{
    width: 80%;
    margin-left: 7%;
}
.section-creater img{
    width: 13%;
    margin-left: 6%;
    vertical-align: middle;
}
.section-creater a{
    margin-left: 7pt;
}

.search-header{
    background-color: rgb(196, 242, 227);
    height: 60pt;
    text-align: left;
    vertical-align: middle;
}
.search-input{
    font-size: 16pt;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 10pt;
    text-indent: 3%;
}
.search-title{
    text-align: center;
    height: 40pt;
    color: rgb(255, 166, 51);
}
.meet{
    height: 100pt;
    color: rgb(156, 162, 149);
} p{
    margin-left: 3%;
}
.test{
    width: 20%;
    height: 30%;
    margin-left: 3%;
    border-color: rgb(246, 186, 91);
    border-radius: 10%;
    background-color: white;
}
.vegetables{
    height: 100pt;
    color: rgb(156, 162, 149);
}
.other{
    height: 100pt;
    color: rgb(156, 162, 149);
}

.me-like{
    float: right;
    margin-top: 10%;
    margin-right: 10%;
}
.me-head{
    width: 40%;
}
.me-name{
    border-bottom: solid black;
    float: right;
    width: 30%;
    margin-right: 20%;
    margin-top: -25%;
}
.create-img{
    width: 45%;
    margin-left: 3%;
    margin-top: 5%;
    border-radius: 10%;
}

/*** register ***/
.register-title{
    margin-top: 0;
    margin-left: 20%;
    font-size: 25pt;
    color: white;
}

.register-body p{
    font-size: 20pt;
    color: white;
    margin-left: 30pt;
}

.register-input{
    font-size: 16pt;
    margin-left: 30pt;
}

.register-button{
    font-size: 16pt;
    margin-left: 35%;
    margin-top: 30pt;
}

.register-back{
    font-size: 14pt;
    margin-left: 32%;
    color: aliceblue;
}

/*** Create ***/
.create-recipe-title{
    font-size: 26pt;
    margin-left: 18pt;
}
.create-title{
    border-bottom: solid 2pt;
    width: 94%;
    margin-left: 3%;
}
.create-body p{
    font-size: 16pt;
    margin-left: 3%;
    margin-top: 5pt;
    margin-bottom: 5pt;
    color: rgb(106, 106, 106);
}
.create-description{
    margin-left: 3%;
    height: 40pt;
    width: 92%;
    font-size: 10pt;
    border-radius: 10pt;
    text-indent: 10pt;
    color: black;
    background-color: lightgray;
    border: none;
    margin-bottom: 10pt;
}
.create-cusine{
    width: 92%;
    height: 40pt;
    margin-left: 3%;
    border-radius: 10pt;
    text-indent: 10pt;
    font-size: 10pt;
    background-color: lightgray;
    border: none;
}
.create-ingredient {
    width: 92%;
    height: 40pt;
    margin-left: 3%;
    border-radius: 10pt;
    text-indent: 10pt;
    font-size: 10pt;
    background-color: lightgray;
    border: none;
}
.cookTime{
    width: 80pt;
}
.create-time{
    text-align: center;
    float: right;
    margin-top: 0;
    margin-right: 4%;
    font-size: 10pt;
    height: 30pt;
    width: 52%;
    border-radius: 10pt;
    color: black;
    background-color: lightgray;
    border: none;
}
.create-cultural{
    margin-left: 3%;
    height: 60pt;
    width: 92%;
    font-size: 10pt;
    border-radius: 10pt;
    text-indent: 10pt;
    color: black;
    background-color: lightgray;
    border: none;
}
.create-send{
    float: right;
    font-size: 12pt;
    margin-right: 41%;
    margin-top: 15pt;
    height: 30pt;
    width: 50pt;
    border-radius: 10pt;
    color: black;
    background-color: transparent;
    border: 3px solid black;
    opacity: .4;
    transition: .3s;
    box-shadow: 0 2px #00000004;
}
.create-send:hover{
    color: royalblue;
    border-color: currentColor;
}

/*** Quiz ***/
.quiz-section h2{
    color: rgb(237, 168, 67);
    margin-left: 10pt;
}
.quiz-question{
    font-size: 10pt;
    width: 80%;
    height: auto;
    margin-left: 10%;
    background-color: lightgray;
    border-radius: 10pt;
    min-height: 30pt;
    text-align: left;
    text-indent: 10pt;
}
.quiz-a, .quiz-b,.quiz-c,.quiz-d{
    margin-left: 10%;
    font-size: 10pt;
    height: auto;
    min-height: 20pt;
} p{
    margin-left: 30pt;
    width: 78%;
    min-height: 20pt;
}
.quiz-submit{
    border-radius: 20pt;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 10pt;
}

/*** Checklist ***/
.check-body{
    width: 90%;
    min-height: 530pt;
    background-color: white;
    margin-left: 5%;
    border-radius: 50pt;
}
.check-title h1{
    color: rgb(237, 168, 67);
    font-size: 28pt;
    margin-left: 25%;
}
.check-add h2{
    margin-left: 15%;
}
.add-ingredient{
    margin-left: 10%;
    height: 20pt;
    width: 60%;
    border: none;
    border-radius: 10pt;
    text-indent: 10pt;
    background-color: lightgray;
}
.add-button{
    margin-left: 10pt;
    width: 40pt;
    height: 20pt;
    background-color: rgb(234, 144, 48);
    border-radius: 10pt;
    border: none;
}
.check-list h2{
    margin-left: 21%;
}
.check-section{
    margin-left: 10%;
} p{
    width: 50%;
}

.check-delete{
    float: right;
    height: 20pt;
    margin-top: 11pt;
    margin-right: 11%;
    background-color: rgb(234, 144, 48);
    border-radius: 10pt;
    border: none;
}

/*** Filter ***/
.search-section{
    height: 400pt;
} p{
    font-size: large;
}
.filter-input{
    margin-left: 10%;
    height: 20pt;
    border: none;
    border-radius: 10pt;
    text-indent: 10pt;
    background-color: lightgray;
}
.filter-confirm{
    margin-left: 35%;
    font-size: larger;
    width: 30%;
    height: 30pt;
    background-color: rgb(234, 144, 48);
    border-radius: 10pt;
    border: none;
}
.filter-confirm:active{
    background-color:dimgrey;
    color: white;
}

/*** Navigation bar ***/
.searchBtn, .homeBtn, .createBtn, .checklistBtn, .meBtn {
    width: 20%;
    height: 45pt;
    border: none;
    background-color: white;
    float: left;
}
.search-img, .home-img, .share-img, .shop-img, .me-img{
    width: 100%;
}
